@media (min-width: 320px) and (max-width: 1440px) {
    .title-dashboard h3 {
        display: block;
        text-align: center;
    }
    .title-dashboard p {
        display: block;
        text-align: center;
        width: 100%;
    }
    .title-dashboard ul {
        display: none;
    }
    @font-face {
        @font-face {
            font-family: "is";
            src: url(../fonts/mobile/iranyekanwebmediumfanum.ttf) format("truetype");
        }
        @font-face {
            font-family: "isblack";
            src: url(../fonts/mobile/iranyekanwebblackfanum.ttf) format("truetype");
        }
    }
    .best-villas {
        padding-top: 100px !important;
    }
    .title h2 {
        font-size: 25px !important;
    }
    .title a {
        display: none;
    }
    .title p {
        font-size: 11px;
        text-align: center !important;
    }
    .services ul li {
        width: 60%;
        display: block !important;
        margin: 10px auto !important;
    }
    .services ul li a {
        display: block;
        text-align: center;
    }
    .search-box {
        width: 90% !important;
        height: 150px !important;
    }
    .welcome-box h1 {
        font-size: 35px;
    }
    .welcome-box p {
        padding: 10px;
        font-size: 14px;
    }
    .search-box button {
        width: 100% !important;
    }
    .search-box .input-g {
        width: 100%;
    }
    .locations {
        z-index: 99999999999;
    }
    .search-box input {
        width: 100% !important;
        height: 46px;
    }
    .search-box .input-g {
        height: 46px;
    }
    .search-box input:focus {
        box-shadow: none !important;
    }
    .styled-select {
        width: 100% !important;
        margin: 0 !important;
        height: 40px;
    }
    .styled-select select {
        width: 100% !important;
        height: 40px;
    }
    .top-header {
        padding: 0 !important;
        width: 103%;
    }
    .navbar-brand {
        margin: 0 !important;
    }
    .navbar-toggler {
        color: #fff !important;
    }
    .navbar-toggler i {
        font-size: 25px;
    }
    .top-header img {
        width: 80px;
    }
    .villa-item h2 {
        font-size: 17px;
    }
    .villa-properties ul li {
        margin: 0 !important;
    }
    .responsive-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 0;
        overflow-y: scroll!important;
        z-index: 99999999999999999999;
    }
    .answer-ticket {
        width: 100%;
    }
    .login-form-content {
        padding: 0!important;
        width: 100%;
    }
    .login-form-content form {
        padding: 0 30px;
    }
    .responsive-register {
        display: block;
    }
}